# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.venv/

# Environment variables
.env
.env.*

# FastAPI
.pytest_cache/
.mypy_cache/

# Node.js
node_modules/

# Next.js
.next/
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build
dist/
build/